h1{color: brown;
    background-color: rgb(0, 255, 17);}
p{
    color: crimson;
    background-color: gold;
    font-family: Arial, Helvetica, sans-serif;
}
    
#Bye{ 
    color: aqua;
    background-color: indigo;}
#p2{
    color: deepskyblue;
    background-color: chartreuse;
}
.that{
    color: magenta;
    background-color: darksalmon;
}
*{
    color: rgb(106, 0, 255);
    background-color: aqua;
}
